html, body {
  height: 100%;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1200px;
  width: 90%;
  margin: 80px auto;
}

.logo {
  position: absolute;
  margin-left: calc(45% - 47px);
}

.contact {
  float: left;
  color: red;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  font-family: futura-pt;
}

.contact a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.logo img {
  width: 80px
}

.menu {
  float: right;
}

.menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.menu ul li a {
  padding-left: 15px;
}

.menu ul {
  list-style: left: auto
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.menu ul li a {
  color: #999;
}

.menu ul li a:hover {
  color: black;
}

.contact {
  color: black;
}

.secontheade {
  float: left;
  margin-top: 30px;
}

.title {
  width: 100%;
  padding: 40px;
  margin-bottom: 60px;
}

.type {
  margin-bottom: 50px
}

.email {
  float: left;
  padding: :40px;
}

.regesration {
  margin-top: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
  margin-bottom: 60px;
}

.hero-image {
  background-image: url("hero_pattern.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.border-grey {
  margin-bottom: 80px;
}

.kub {
  border: 2px solid #091C32;
  width: 110px;
  padding: 20px;
  font-size: 22px;
}

.kub a {
  color: #091C32;
}

.kub:hover a {
  color: #fff;
}

.kub:hover {
  background-color: #091C32;
}

.secondpart {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;

}

.righttext {
  float: right;
  width: 30%;
}

.secontheader {
  float: left;
  width: 60%;
  /* bu umumi ekranin deyil, icinde oldugu divin 40% in goturur. yeni secondpart div inin , yeni 90 nin 40 faizi... */
}

.secontheader p {
  font-family: futura-pt;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: .02em;
  text-rendering: optimizeLegibility;
}

.secontheader h1 {
  font-family: futura-pt;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .02em;
  text-rendering: optimizeLegibility;
}

/* .row1 {
  margin: 0 -1% 0 -1%;
} */

.item {
  float: left;
  width: 30%;
  margin: 0 1.5% 0 1.5%;
  border-top: 1px solid #cec3c3;
  padding: 30px 0 30px 0;
}

.item_header {
  color: #c30a0a;
}

.sq a {
  background-color: grey;
  text-decoration: none;
}

h5 a {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

h5 {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .galery .galery_item_container {
    width: 49%;
  }

  .item {
    width: 49%;
        margin: 0;
  }
}

@media only screen and (max-width: 430px) {

  .secondpart {
    width: 98%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .righttext h3,h2 {

    font-size: 18px;
  }
  .righttext {
    width: 100%;
  }

  .secontheader {
    width: 100%;
  }

  .item {
    width: 100%;
    margin-left: 0;
  }
}


/* .row {

  width: 100%;
} */
